{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100%; /* Take full height of the parent container */
    }
    .my-form {
        width: 90%; /* Set a smaller width for the form */
        max-width: 600px; /* Maximum width for larger screens */
        padding: 20px; /* Add some padding */
    }

    /* Media query for smaller screens */
    @media (max-width: 768px) {
        .my-form {
            width: 100%; /* Set width to 100% for smaller screens */
            max-width: none; /* Remove maximum width for smaller screens */
        }
    }
</style>

<div class="form-container">
    <h2>Registration</h2>
    <form method="post" action="{% url 'registrate' %}" class="my-form">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <button type="submit" class="btn btn-secondary">Register</button>
    </form>
</div>
{% endblock %}
